
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
#footer {
  bottom: 0%;
  position: absolute;
  position: fixed;
  width: 100%;
}
#remove_top_padding {
padding-top: 20px;
}
